body {
  display: grid;
  place-content: center;
  text-align: center;
  margin: 0;
  font-family: Montserrat;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

a:link {
  text-decoration: none ;
}

/* Headings */
.nav-heading {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: 900;
}
/* Navigation Bar */
.navbar {
  margin: 0 0 15rem;
  padding-left: 2rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 400;
}

/* Title Section */

#title {
  background-color: #30D5C8;
}

.container {
position: relative;
min-height: 55vh;
}

.logo {
width: 18rem;
border-radius: 100px;
}

.kid-imgs {
  position: absolute;
}

.kids1, .kids4, .kids6 {
  width: 12rem;
  border-radius: 100px;
}

.kids2, .kids3, .kids8 {
  width: 8rem;
  border-radius: 100px;
}

.kids5, .kids7 {
  width: 8rem;
  border-radius: 100px;
}

.kids1 {
transform: translate(-18rem, -20rem);
}

.kids2 {
transform: translate(-18rem, -10rem);
}

.kids3 {
transform: translate(12rem, -12rem);
}

.kids4 {
transform: translate(-5rem, -20rem);
}

.kids5 {
transform: translate(-5rem, 1rem);
}

.kids6 {
transform: translate(8rem, -20rem);
}

.kids7 {
transform: translate(10rem, 1rem);
}

.kids8 {
transform: translate(-20rem, 1rem);
}

/* Features */
.feature-heading {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 2.5rem;
}

/* cta */

#cta {
  background-color: #30D5C8;
  padding: 100px;
}

.cta-heading {
  color: #fff;
  font-size: 2.5rem;
}

.cta-button {
  margin-top: 50px;
  color: #fff;
}

/* Footer */
.fa {
  margin: 2% 1%;
}

.container-footer {
  padding: 7% 15%;
}
